/*웹폰트-뫼비우스폰트*/

@font-face {
    font-family: 'Moebius Korea';
    src: url('../font/MoebiusKorea-Bold.woff2') format('woff2'),
        url('../font/MoebiusKorea-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




/*웹폰트-배달의민족도현*/
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*초기설정*/

* {padding: 0; margin: 0;}
a { text-decoration: none;}
li { list-style: none;}


/*레이아웃*/
#event_top {
    width: 650px; height: 180px;
    background: url(../images/top_bg.jpg);
    margin: 0 auto;
    text-align: center;
}
#event_top h2 {
    font-family: 'BMDOHYEON';
    color:#fff;
    font-weight: normal;

    padding-top: 30px;
    font-size: 50px;
    letter-spacing: -2px;
}
#event_top p.line {
    width: 280px;
    height: 1px;
    background: #fff;

    margin: 10px auto;
}

#event_top p.txt {
    padding-top: 10px;
    font-family: 'BMDOHYEON';
    font-size: 28px;
    color:#fff;
    letter-spacing: -1px;
}

/*메인영역*/
#event_main {
    width: 650px; height: 563px;
    margin: 0 auto;
}

/*3천포인트 완전정복 글씨*/
#event_info1 {
    width: 650px; height: 150px;
    background: #ffc300 url(../images/banner_txt_linebg.png)no-repeat 110px 80px;
    margin: 0 auto;
    text-align: center;
}

#event_info1 p {
    padding-top: 30px;

    color:#705b1a; 
    font-size: 26px;
    letter-spacing: -2px;
    
}
#event_info1 p span {
    font-weight: bold;
}

#event_info2 {
    width: 650px; height: 230px;
    background: #ffc300;
    margin: 0 auto;
    text-align: center;

}

#event_info2 p.line {
    width: 540px; height: 1px;
    background: #dfb201;
    margin-top: 20px;
    display: inline-block;
}
#event_info2 p.txt {
    padding-top: 20px;

    color:#251f1f; font-size: 26px;
    font-family: 'BMDOHYEON';
    letter-spacing: -1px;

}
#event_info2 h2 {
    padding-top: 20px;

    color:#6ed9fb; font-size: 60px;
    font-family: 'BMDOHYEON';
    letter-spacing: -3px;

    text-shadow: 4px 4px 1px #000;
}
#event_info2 h4 {
    padding-top: 10px;

    color:#725919;
    font-size: 18px;
    letter-spacing: -1px;
}

/*애니메이션 배너*/
#event_ani_banner {
    width: 650px ; height: 336px;
    margin: 0 auto;
}

/*혜택안내*/
#event_section1 {
    width: 650px; height: 100px;
    background: #ffd200;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
}

#event_section1 p {

    color:#fff; font-size: 44px;
    font-family: 'BMDOHYEON';
    letter-spacing: -1px;

    text-shadow: 4px 4px 1px #000;
}

#event_section1 p span {
    color:#a1eb02;
}

#event_section2 {
    width: 650px; height: 400px;
    background: #ffd200;
    margin: 0 auto;
    text-align: center;
}
#event_section2 div.box {
    width: 570px; height: 150px;
    background: #fff;
    text-align: center;
    border-radius: 80px;
    
    display: inline-block;

    margin-top: 30px;
}

#event_section2 div.box div {
    display: inline-block;
    vertical-align: middle;

    margin: 20px 5px;
}

#event_section2 div.box div.left {
    width: 110px; height: 110px;
    background: yellow;
    border-radius: 100%;
}
#event_section2 div.box div.right{
    width: 380px; height: 110px;    
    text-align: left;
}

#event_section2 div.box div.right h2 {
    padding-top: 10px;

    color:#333; font-size: 28px;
    letter-spacing: -2px;
}
#event_section2 div.box div.right p {
    padding-top: 10px;

    color:#666; font-size: 18px;
    letter-spacing: -1px;
}

#event_section3 {
    width: 650px; height: 80px;
    background: linear-gradient(to right, #ffd302, #ffefa2);
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
}
#event_section3 p {
    font-size: 30px; 
    letter-spacing: -3px;
    font-weight: bold; color:#222;
    font-family: 'Moebius Korea';
}

#down {
    width: 650px; height: 180px;
    background: #ffd200;
    margin: 0 auto;
    text-align: center;
}

#down p.btn {
    width: 280px; height: 80px;
    background: #222;
    color:#fff; font-size: 32px;
    letter-spacing: -3px;
    font-weight: bold;
    border-radius: 50px;
    text-align: center; line-height: 80px;

    display: inline-block;
    vertical-align: middle;
    border: 2px solid #222;

    margin: 50px 10px;
    cursor: pointer;

}
#down p.btn:hover {
    border: 2px solid #222;
    background: transparent;
    color:#222;
}