#vod_section1 {
    width: 1200px;
    height: 84px;
    line-height: 84px;
    background: url(../images/vod_top_bg.jpg);
    margin: 0 auto;
}

#vod_section1 p {
    display: inline-block;
    vertical-align: middle;
}

#vod_section1 p.txt {
    padding-left: 180px;
    color: #eee;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: bold;
}

#vod_section1 p.txt span {
    color: #666;
    font-size: 13px;
    letter-spacing: -1px;
    padding-left: 10px;
}

#vod_section1 p.btn {
    width: 85px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #555;

    margin-left: 130px;

    color: #fff;
    font-size: 13px;
    letter-spacing: -1px;
    cursor: pointer;
}


#vod_section2 {
    width: 1200px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
}

#vod_section2 p {
    display: inline-block;
    vertical-align: middle;
}

#vod_section2 p.t_menu a {
    color: #888;
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: bold;
}

#vod_section2 p.t_menu:hover a {
    color: #333;
}


#vod_section2 p.line {
    width: 1px;
    height: 10px;
    background: red;
    margin: 0px 10px;
}



#vod_section3 {
    width: 1200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: right;
}

#vod_section3 p {
    display: inline-block;
    vertical-align: middle;
}

#vod_section3 p a {
    color: #888;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: bold;
}

#vod_section3 p:hover a {
    color: #333;
}

#vod_section3 p.t_menu {
    margin-right: 30px;
}

#vod_section3 p.line {
    width: 1px;
    height: 10px;
    background: red;
    margin: 0px 10px;
}


#vod_section4 {
    width: 1200px;

    margin: 0 auto 30px;
    text-align: center;
}

#vod_section4 ul {
    width: 200px;
    height: 320px;
    background: lightblue;

    display: inline-block;
    vertical-align: middle;

    margin: 20px 10px;
}

#vod_section4 ul li:nth-child(2) {
    text-align: left;
    padding: 5px;
}

